---
import "../styles/global.css"
import "@fontsource/poppins"

interface Props {
  title: string
  description: string
}

const { title = "Artespazios", description = "" } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>

    <meta
      name="description"
      content="Recupera claridad, orden y bienestar con Artespazios: un sistema técnico-emocional para transformar tus espacios, procesos y decisiones."
    />

    <meta property="og:title" content="Artespazios" />
    <meta property="og:site_name" content="Artespazios" />
    <meta property="og:url" content="https://artespazios.com" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/logo.jpg" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
