---
import "../styles/global.css"
import "@fontsource/poppins"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <title>Artespazios</title>

    <meta property="og:title" content="Artespazios" />
    <meta property="og:site_name" content="Artespazios" />
    <meta property="og:url" content="https://artespazios.com" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/logo.jpg" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
